.page {
  font-family: Roboto;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.header {
  background-color: #eeeff1;
}

.page__head {
  padding: 80px 0 100px 0;
}

.navigation__list {
  display: flex;
  gap: 42px;
}

.navigation__item {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 20px;
}

.navigation__link::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url(../images/icon.png);
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  left: 0px;
  bottom: 5px;
}

.navigation__link {
  color: #000;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  line-height: 164.063%;
}

.header__content {
  max-width: 550px;
}

.homepage {
  color: #34547A;
}

.content__title,
.content__paragraph {
  padding-bottom: 55px;
}

.title_padding {
  padding-top: 150px;
}

.content__title {
  font-weight: 500;
  font-size: 48px;
  line-height: 164.063%;
}

.content__paragraph {
  font-size: 16px;
  color: #727272;
}

.content__btn {
  background-color: #34547A;
  color: #fff;
  padding: 20px 40px;
  text-transform: uppercase;
}

.main {
  background-color: #fff;
}

.page_main {
  padding-bottom: 100px;
}

.main__content {
  text-align: center;
  padding: 100px 0;
  max-width: 550px;
  margin: 0 auto;
}

.content__title {
  font-size: 32px;
  font-weight: 500;
  padding-bottom: 55px;
}

.content__paragraph {
  color: #727272;
  font-weight: 400;
  font-size: 16px;
}

.projects {
  background-color: #34547A;
}

.main-projects {
  padding: 100px 0;
}

.projects__box {
  display: flex;
  justify-content: space-between;
}

.box__text-title {
  color: #fff;
  font-size: 21px;
  font-weight: 500;
}

.box__text-paragraph {
  color: #fff;
  font-size: 21px;
  font-weight: 400;
}

.main__video {
  text-align: center;
}

.footer {
  background-color: #34547A;
}

.page__foot {
  padding: 55px;
}

.footer-container__inform-title,
.footer-container__inform-paragraph {
  color: #fff;
}

.footer-container__inform-title {
  font-size: 21px;
  padding-bottom: 20px;
}

.footer-container__inform-paragraph {
  font-size: 16px;
}