$main-color: #34547A;
$element-color: #727272;
$text-color: #fff;
$base-color: #000;
$font-family: Roboto;
$text-font-size: 21px;
$base-font-size: 16px;
$title-font-size: 32px;
$text-font-wight: 400;
$title-font-wight: 500;
$text-line-height: 164.063%;
$btn-padding: 20px 40px;
$element-padding-bottom: 55px;
$box-padding: 100px 0;